.zambezi-grid-body {
  position: relative;
  min-height: 30px;
  overflow: hidden;
  color: #0F1D31;
  background-color: white;
}

.zambezi-grid-cell {

  border-right: 1px solid #EFF0F2;
  display: block;
  position: absolute;

  top: 0;

  padding-left: 8px;
  padding-right: 8px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.zambezi-grid-cell .formatted-text {
  position: relative;
  top: 2px;
}

/* row / cell border */

.zambezi-grid-row {
  position: absolute;
  height: 19px;
  border-bottom: 1px solid #EEEEEE;
}

.zambezi-grid-row .zambezi-grid-cell {
  border-bottom: 1px solid #D7D9DE;
}

/* locked columns and rows */

.zambezi-grid-header-block,
.zambezi-body-section
{
  position: absolute;
  list-style-type: none;
  overflow: hidden;
}

.zambezi-body-section.body-a,
.zambezi-body-section.body-b,
.zambezi-body-section.body-c
{
  top: 0;
}

.zambezi-body-section.body-a,
.zambezi-body-section.body-d,
.zambezi-body-section.body-g
{
  left: 0;
}

.zambezi-body-section.body-g,
.zambezi-body-section.body-h,
.zambezi-body-section.body-i
{
  bottom: 0;
}

.zambezi-body-section.body-c,
.zambezi-body-section.body-f,
.zambezi-body-section.body-i
{
  right: 0;
}

.is-cropped-h .zambezi-body-section.body-g,
.is-cropped-h .zambezi-body-section.body-h,
.is-cropped-h .zambezi-body-section.body-i
{
  bottom: 14px;
}

.is-ie.is-cropped-h .zambezi-body-section.body-g,
.is-ie.is-cropped-h .zambezi-body-section.body-h,
.is-ie.is-cropped-h .zambezi-body-section.body-i
{
  bottom: 16px;
}

.is-cropped-v .zambezi-body-section.body-c,
.is-cropped-v .zambezi-body-section.body-f,
.is-cropped-v .zambezi-body-section.body-i
{
  right: 14px;
}

.is-ie.is-cropped-v .zambezi-body-section.body-c,
.is-ie.is-cropped-v .zambezi-body-section.body-f,
.is-ie.is-cropped-v .zambezi-body-section.body-i
{
  right: 16px;
}

.zambezi-body-section.is-vertical-short .zambezi-grid-row:first-child
{
  border-top: 1px solid #D7D8DE;
}

.zambezi-body-section.is-horizontal-short .zambezi-grid-row {
  box-shadow: inset 1px 0 #D7D8DE;
}

.zambezi-grid-header-block.is-horizontal-short {
  box-shadow: inset 1px 0 #0E1D33;
}

.zambezi-body-section.is-scrolled-down { box-shadow: inset 0 6px 6px -3px #D7D8DE; }
.zambezi-body-section.is-scrolled-down.is-scrolled-left { box-shadow: inset 0 6px 6px -3px #D7D8DE,inset 6px 0 6px -3px #D7D8DE; }
.zambezi-body-section.is-scrolled-down.is-scrolled-left.is-scrolled-right { box-shadow: inset 0 6px 6px -3px #D7D8DE,inset 6px 0 6px -3px #D7D8DE,inset -6px 0 6px -3px #D7D8DE; }
.zambezi-body-section.is-scrolled-down.is-scrolled-right { box-shadow: inset 0 6px 6px -3px #D7D8DE,inset -6px 0 6px -3px #D7D8DE; }
.zambezi-body-section.is-scrolled-left { box-shadow: inset 6px 0 6px -3px #D7D8DE; }
.zambezi-body-section.is-scrolled-left.is-scrolled-right { box-shadow: inset 6px 0 6px -3px #D7D8DE,inset -6px 0 6px -3px #D7D8DE; }
.zambezi-body-section.is-scrolled-right { box-shadow: inset -6px 0 6px -3px #D7D8DE; }
.zambezi-body-section.is-scrolled-up { box-shadow: inset 0 -6px 6px -3px #D7D8DE; }
.zambezi-body-section.is-scrolled-up.is-scrolled-down { box-shadow: inset 0 -6px 6px -3px #D7D8DE,inset 0 6px 6px -3px #D7D8DE; }
.zambezi-body-section.is-scrolled-up.is-scrolled-down.is-scrolled-left { box-shadow: inset 0 -6px 6px -3px #D7D8DE,inset 0 6px 6px -3px #D7D8DE,inset 6px 0 6px -3px #D7D8DE; }
.zambezi-body-section.is-scrolled-up.is-scrolled-down.is-scrolled-left.is-scrolled-right { box-shadow: inset 0 -6px 6px -3px #D7D8DE,inset 0 6px 6px -3px #D7D8DE,inset 6px 0 6px -3px #D7D8DE,inset -6px 0 6px -3px #D7D8DE; }
.zambezi-body-section.is-scrolled-up.is-scrolled-down.is-scrolled-right { box-shadow: inset 0 -6px 6px -3px #D7D8DE,inset 0 6px 6px -3px #D7D8DE,inset -6px 0 6px -3px #D7D8DE; }
.zambezi-body-section.is-scrolled-up.is-scrolled-left { box-shadow: inset 0 -6px 6px -3px #D7D8DE,inset 6px 0 6px -3px #D7D8DE; }
.zambezi-body-section.is-scrolled-up.is-scrolled-left.is-scrolled-right { box-shadow: inset 0 -6px 6px -3px #D7D8DE,inset 6px 0 6px -3px #D7D8DE,inset -6px 0 6px -3px #D7D8DE; }
.zambezi-body-section.is-scrolled-up.is-scrolled-right { box-shadow: inset 0 -6px 6px -3px #D7D8DE,inset -6px 0 6px -3px #D7D8DE; }


